input {
  //focus-follows-mouse 
    keyboard {
        xkb {
            layout "latam"
        }
    }
    mouse {
      accel-profile "flat"
	  }
    touchpad {
      natural-scroll
    }
    tablet {
        map-to-output "DP-1"
    }
    workspace-auto-back-and-forth 
}
