layout {
    gaps 14
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
   	    proportion 1.0
    }

    focus-ring {
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    struts {
      	left -2
        right -2
        top -8
        bottom -6 
}
    background-color "transparent"
    default-column-width { proportion 0.5; }
}
overview {
	backdrop-color "transparent" 
	workspace-shadow {
		color "00000080"
		softness 40
		spread 20	
		offset x=0 y=10
	}
}