spawn-at-startup "waybar"
spawn-at-startup "swww-daemon"
spawn-at-startup "niri-wallpraper"
spawn-at-startup "opensnitch-ui"
spawn-at-startup "com.spotify.Client" 

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
